.characterSection {
    background: radial-gradient(circle at center, #1e1e2f, #0e0e14);
    height: auto;
    padding: 30px;
    color: white;
}

.title {
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 24px;
}

.characters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 180px;
    gap: 34px;
}

.character {
    height: auto;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    transition: transform 0.3s ease;

}

.character img {
    width: 100%;
    height: 100%;
}

.character:hover {
    z-index: 9;
    transform: scale(1.25);
    cursor: default;
}

.characterOverlay {
    position: absolute;
    inset: 0;
    /* top: 0; right: 0; bottom: 0; left: 0; ile aynı */
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 10px;
}

.characterOverlay img {
    height: 34px;
    width: 34px;
    transition: transform .2s;
}

.characterOverlay img:hover {
    cursor: pointer;
    transform: scale(2);
}

/* Hover olduğunda görünür olacak */
.character:hover .characterOverlay {
    opacity: 1;
}

/* Yazı stilleri */
.characterName {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
}

.characterInfo {
    font-size: 13px;
    opacity: 0.9;
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #00000094;
    z-index: 999;
    transition: opacity 0.2s ease;
}

.alertMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 26px 34px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    max-width: 660px;
    gap: 50px;
}

.alertMain .p {
    color: white;
    text-align: center;
}

.buttons {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.link {
    text-decoration: none;
    color: white;
}

.laterBtn {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-family: "Inter", sans-serif;
}

.laterBtn:hover {
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: border-radius 0.5s ease;
}

@media (max-width: 820px){
.characters {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 200px;
    }
    .characterOverlay{
        opacity: 1;
    }
    .characterInfo{
        display: none;
     }
}

@media (max-width: 768px) {
    .characters {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: 200px;
    }
    .characterOverlay{
        opacity: 1;
    }
    .characterInfo{
        display: none;
     }

}

@media (max-width: 480px) {
    .characters {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-auto-rows: 180px;
    }
    .characterOverlay{
        opacity: 1;
    }
    .characterInfo{
        display: none;
     }
}