body {
    font-family: "Inter", sans-serif;
    background-color: #000;
    background-image: url("https://images.pexels.com/photos/3411139/pexels-photo-3411139.jpeg");
    background-size: cover;
    text-decoration: none;
  }
  